<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_INFO_LOG_ROOT">/opt/nha/logs</Property>
        </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
 
        <RollingFile name="ManageWebInfo"  fileName="${APP_INFO_LOG_ROOT}/rbsapi.log"
            filePattern="${APP_LOG_ROOT}/rbsapi-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
        
    </Appenders>
    <Loggers>
 
        <Logger name="com.gov.nha.bis" additivity="false">
           <AppenderRef ref="ManageWebInfo"/>
            <AppenderRef ref="Console" />
        </Logger>
 
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        
        
    </Loggers>
</Configuration>